@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
    user-select: none;
}

.contenedor{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.50)),url(../img/fondo-agregar-noticia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inconsolata", monospace;
}

header{
    padding: 20px;
}

.contenedor-formulario{
    background: linear-gradient(#bd10c936,#5a0460);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 480px;
    margin: auto;
    box-shadow: 12px 8px 50px black;
}

.titulo{
    font-family: "Black Ops One", system-ui;
    font-size: 37px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

form input[type="text"]{
    width: 300px;
}

form textarea{
    resize: none;
    padding: 8px;
    width: 400px;
    height: 230px;
}

form .input{
    gap: 10px;
}

.listado-noticias{
    margin-top: 60px;
}

.titulo-listado{
    font-family: "Black Ops One", system-ui;
    font-size: 45px;
    background-color: #f7f7f7;
    color: #000;
    width: 500px;
    padding: 14px;
    margin: auto;
}

.table-responsive{
    margin-top: 30px;
}

@media (max-width:800px){
    header{
        font-size: 17px;
    }
    .contenedor{
        height: 200vh;
    }
    .titulo{
        font-size: 36px;
    }
    .contenedor-formulario{
        margin-top: 20px;
        width: 360px;
        height: 530px;
        padding: 14px;
    }
    form input[type="text"]{
        width: 290px;
        font-size: 16px;
    }
    form input[type="file"]{
        width: 100%;
        font-size: 12px;
    }
    form textarea{
        width: 300px;
    }
    .titulo-listado{
        font-size: 30px;
        width: 100%;
    }
    .form-eliminar-noticia{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-eliminar-noticia input[type="submit"]{
        width: 80px;
        font-size: 14px;
    }
}